---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {# Filter out 404s and non-page assets (e.g. minified .css outputs) #}
  {%- if page.url and not page.url.endsWith('404.html') and not page.url.endsWith('.css') %}
  <url>
	<loc>https://knurlmastering.com{{ page.url }}</loc>
	<lastmod>{{ page.date.toISOString().split('T')[0] }}</lastmod>
	<changefreq>monthly</changefreq>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>