---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {# Filter out any raw 404 pages or duplicate collection outputs #}
  {%- if not page.url.endsWith('404.html') and page.url %}
  <url>
	<loc>https://knurlmastering.com{{ page.url }}</loc>
	<lastmod>{{ page.date.toISOString().split('T')[0] }}</lastmod>
	<changefreq>monthly</changefreq>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>