<div class="innercredits">
  <div class="artwork">
  {% for item in creditList %}
    <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">
        <img decoding="async" src="/{{ item.image }}" loading="lazy" alt="{{ item.artist }} - {{ item.work }}" />
        <h3>{{ item.artist }}</h3>
        <h4>{{ item.work }}</h4>
        <p>{{ item.service }}<span>{{ item.date }}</span></p>
    </a>
  {% endfor %}
  </div>
</div>